[submodule "RookieProgramProject1/RookieProgramProject1/rookieprogramProject1"]
	path = RookieProgramProject1/RookieProgramProject1/rookieprogramProject1
	url = https://github.com/lpspalma/rookieprogramProject1.git
